<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>맛집</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style type="text/css">
        .row{
            margin: 0 auto;
            width: 960px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <table class="table">
                <tr>
                    <td width="30%" class="text-center" rowspan="7">
                        <img src="http://www.menupan.com{{poster}}" style="width:300px; height:200px">
                    </td>
                    <td colspan="2">
                        <h3>{{name}} &nbsp;<span style="color:orange">{{score}}</span></h3>
                    </td>
                </tr>
                <tr>
                    <td class="text-center" width="15%">주소</td>
                    <td width="55%">{{address}}</td>
                </tr>
                <tr>
                    <td class="text-center" width="15%">전화</td>
                    <td width="55%">{{phone}}</td>
                </tr>
                <tr>
                    <td class="text-center" width="15%">음식 종류</td>
                    <td width="55%">{{type}}</td>
                </tr>
                <tr>
                    <td class="text-center" width="15%">영업 시간</td>
                    <td width="55%">{{time}}</td>
                </tr>
                <tr>
                    <td class="text-center" width="15%">좌석</td>
                    <td width="55%">{{seat}}</td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <a href="/food/" class="btn btn-sm btn-danger">목록</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>