{% extends 'main/main.html' %}
{% block content %}
<div class="wrapper row3">
  <div id="slider" class="clear"> 
    <div class="flexslider basicslider">
      <ul class="slides">
        <li><a href="#"><img class="radius-10" src="/static/images/demo/slides/back1.jpg" style="width:978px;height:400px"></a></li>
        <li><a href="#"><img class="radius-10" src="/static/images/demo/slides/back2.jpg" style="width:978px;height:400px"></a></li>
        <li><a href="#"><img class="radius-10" src="/static/images/demo/slides/back3.jpg" style="width:978px;height:400px"></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="wrapper row3">
  <main class="container clear">
    <ul class="nospace group btmspace-80">
      <li class="one_third first">
        <article class="service"><i class="icon fa fa-ambulance"></i>
          <h6 class="heading"><a href="#">날씨 정보</a></h6>
          <p></p>
          <footer><a href="#">Read More &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article class="service"><i class="icon fa fa-h-square"></i>
          <h6 class="heading"><a href="#">추천 정보</a></h6>
          <p></p>
          <footer><a href="#">Read More &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article class="service"><i class="icon fa fa-hospital-o"></i>
          <h6 class="heading"><a href="#">오늘의 뉴스</a></h6>
          <p></p>
          <footer><a href="#">Read More &raquo;</a></footer>
        </article>
      </li>
    </ul>

    <h2 class="sectiontitle">인기 레시피 Top12</h2>
    <div class="flexslider carousel basiccarousel btmspace-80">
      <ul class="slides">
        {% for recipe in rd %}
        <li>
          <figure><img class="radius-10 btmspace-10" src="{{recipe.poster}}" title="{{recipe.title}}">
            <figcaption><a href="#">{{recipe.chef}}</a></figcaption>
          </figure>
        </li>
        {% endfor %}
      </ul>
    </div>

    <h2 class="sectiontitle">인기 맛집 Top12</h2>
    <div class="flexslider carousel basiccarousel btmspace-80">
      <ul class="slides">
        {% for food in fd %}
        <li>
          <figure><img class="radius-10 btmspace-10" src="http://www.menupan.com{{food.poster}}" alt="">
            <figcaption><a href="#">{{food.name}}</a></figcaption>
          </figure>
        </li>
        {% endfor %}
      </ul>
    </div>

    <h2 class="sectiontitle">최신 방문 레시피 맛집</h2>
    <ul class="nospace group">
      <li class="one_half first">
        <article><img class="imgl radius-10" src="/static/images/demo/100x100.gif" alt="">
          <h6 class="heading"><a href="#">Lorem Ipsum Dolor</a></h6>
          <p>Aenean semper elementum tellus, ut placerat leo. Quisque vehicula, urna sit amet.</p>
        </article>
      </li>
      <li class="one_half">
        <article><img class="imgl radius-10" src="/static/images/demo/100x100.gif" alt="">
          <h6 class="heading"><a href="#">Lorem Ipsum Dolor</a></h6>
          <p>Aenean semper elementum tellus, ut placerat leo. Quisque vehicula, urna sit amet.</p>
        </article>
      </li>
    </ul>
    <div class="clear"></div>
  </main>
</div>
{% endblock %}